body {
    .order(column);
}

#contentContainer {

    .order(column);
    width: 750px;

}

.artists-container {

    .order(row,space-evenly,flex-start);
    .space(0 0 0 0, 0 0 2% 0);

    div {

        .order(column);
        width: 50%;


        img{

            height: 200px;
            width: 200px;

        }

        .bio {

            text-align: center;
            //width: 25%;
            font-size: 0.7rem;

        }

    }

}

hr {

    border-width: 1px;

}